[submodule "public/public"]
	path = public/public
	url = git@github.com:scientific-programming/scientific-programming.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:scientific-programming/scientific-programming.github.io.git
	branch = master
[submodule "themes/learn"]
	path = themes/learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "themes/docdock"]
	path = themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock
